.list-group-item{
  color: #BCBCBC;
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
  padding:0.24rem 0.24rem;
  text-align: center;
  border: 1px transparent !important;
}

.mb-1{
  padding: 0px 0px 0px 0px !important;
}

.col-md-4{
  padding: 0px 3px 0px 3px !important;
}
.col-sm-6{
  border-radius: 0 !important;
}
.card-body{
 /*  height: 200px; */
}
.card1{
  display: flex !important;
  justify-content: center !important;
}
